/* reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, input,
textarea, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a img {
    border: 0; }

textarea {
  resize: none; }

* {
  outline: none; }

footer, header, aside, nav, menu, video, audio, time, section, article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block; }

aside {
  text-align: right; }

time {
  cursor: help; }

/* colors */
/* shadows */
@font-face {
  src: url("/fonts/cambria-italic.eot");
  font-family: Cambria;
  font-style: italic;
  src: local("Cambria-italic"), url("/fonts/cambria-italic.eot") format("truetype"); }

@font-face {
  src: url("/fonts/cambria.eot");
  font-family: Cambria;
  font-style: normal;
  src: local("Cambria"), url("/fonts/cambria.eot") format("truetype"); }

/* master */
html {
  min-width: 980px;
  background: #b9b6a9 url(/images/backgrounds/main.jpg) no-repeat center top; }

html, html a {
  color: #333333; }

body {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding-bottom: 20px; }
  body.without-text-shadow * {
    text-shadow: none !important; }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background: white;
  margin-top: 20px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75); }
