%title Wrongler
%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
%meta{:name => 'description', :content => 'Wrongler'}
%meta{:name => 'keywords', :content => 'wrongler'}
%link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}