#start-tip<
  %section>
    %h2 Cпорим?
    %p.black= raw('«Вронглер»<i> — это сервис споров на деньги для друзей и незнакомцев.</i>')
    %p Любые поводы, любые суммы.
    %p Нет такого человека, которому бы не нравилось выигрывать споры. Быть правым лучше, чем быть левым.
  %aside<>
    %a.button{:href => '#'}= raw('<span>Скрыть и не показывать</span>')
    %section>
      %h2 И как это делать?
      %p Мы стараемся сделать так, чтобы не было никаких вопросов «как?». 
      %p.black Начинаете спор, либо делаете ставку в уже существующем. Ждете результата. Радуетесь или не унываете.
      %p Попробуйте, вам понравится.
    .baloon.im-best
      %p Я круче!
    .baloon.dont-understand
      %p Мне ничего непонятно.
      = link_to 'Смотрю видеопомощь.', '#'