#user-bar<
  %section>
    %a.button{:href => '#'}
      %span Арнольд Шварцнеггер
      %b 452
  %menu<>
    %a.button.green{:href => '#'}> 3 вызова
    %a.button.blue{:href => '#'}> 6 результатов
  %aside>
    %div<
      %p>= raw('452<span>,4</span>')
      %menu<>
        %a.button{:href => '#'}> Пополнить счет